@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&family=Open+Sans:wght@300;400&display=swap");

body {
  text-align: center;
  background-color: rgb(54, 54, 54);
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: row;
  background-image: url("./assets/bg-gamehub-otherpages.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* SIDEBAR CSS */

.NavLink {
  display: flex;
  align-items: flex-end;
  margin: 20px;
  font-family: "League Spartan", sans-serif;
  font-size: 1.2em;
  color: white;
}

.NavLink:hover {
  color: #351a79;
}

.hrSidebar {
  border-width: 0;
  height: 1.5px;
  width: 85%;
  background-color: rgba(53, 26, 121, 0.5);
}

.Gamehub {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 30px;
  font-family: "League Spartan", sans-serif;
  font-size: 2rem;
  color: white;
  padding-bottom: 5vh;
}

.icon {
  padding-right: 20px;
}

.menuBar {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 3px;
  margin-left: 10px;
  margin-right: 0;
  border-radius: 25px;
}

.Container {
  background-color: rgba(0, 0, 0, 0.8);
}

/* HOMEPAGE CSS */

.HomepageBG {
  background-image: url("./assets/bg-gamehub.jpg");
}

.HomepageDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.HomepageBG {
  background-size: cover;
  background-position: center;
}

.HomepageTitle {
  font-family: "League Spartan", sans-serif;
  color: white;
  font-size: 5rem;
}

.HomepageDescription {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: larger;
}

/*
    GAMES LIST PAGE CSS
*/

.GamesListPage{
display: flex;
}

.GamehubPage{
  font-family: "League Spartan", sans-serif;
  color: rgba(53, 26, 121, 0.6);
  font-size: 4rem;
  margin-top: 100px;
  margin-right: 245px;
}

.GamesListDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.GamesListImageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 460px;
  height: 215px;
  border-radius: 30px;
  margin: 30px 30px;
  position: relative;
}

.GamesListImageDiv img {
  display: flex;
  width: 460px;
  height: 215px;
  border: 3px solid white;
  object-fit: cover;
  border-radius: 30px;
  transition: 0.2s;
}

.GamesListImageDiv img:hover {
  width: 480px;
  height: 230px;
  transition: 0.2s;
}

.TitleSpan, .BgDiv {
  position: absolute;
  z-index: 1;
}

.TitleSpan {
  display: none;
  pointer-events: none;
  color: white;
  font-family: "League Spartan", sans-serif;
  font-size: 2rem;
}

.BgDiv:hover {
  opacity: 0.7;
}

.BgDiv:hover + .TitleSpan{
  display: block;
}

.BgDiv {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #351a79;
  opacity: 0;
  border-radius: 30px;
}

.UserInputs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
  margin-left: auto;
}

.SearchBarDiv, .DropdownDiv{
  display: flex;
  flex-wrap: wrap;
  margin: 23px;
}

.DropdownDiv {
  flex-direction: column;
  justify-content: flex-start;
}

.SearchBarDiv {
  justify-content: flex-end;
}

.TitleRecommended {
  color: white;
  font-family: "League Spartan", sans-serif;
  margin-top: 30px;
}
.TitleRecommended h1 {
  font-size: 3rem;
}


/*** SEARCH BAR STYLES ***/

.cntr-innr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;

}
.search {
	display: inline-block;
	position: relative;
	height: 35px;
	width: 35px;
	box-sizing: border-box;
	margin: 0px 8px 7px 0px;
	padding: 7px 9px 0px 9px;
	border: 3px solid white;
	border-radius: 25px;
	transition: all 200ms ease;
	cursor: text;
	
	&:after {
		content: "";
		position: absolute;
		width: 3px;
		height: 20px;
		right: -5px;
		top: 21px;
		background:  white;
		border-radius: 3px;
		transform: rotate(-45deg);
		transition: all 200ms ease;
	}
	
	&.active,
	&:hover {
		width: 200px;
		margin-right: 0px;
		
		&:after {
			height: 0px;	
		}
	}
	
	.inpt_search {
		width: 100%;
		border: none;
		box-sizing: border-box;
		font-family: Helvetica;
		font-size: 15px;
		color: white;
		background: transparent;
		outline-width: 0px;
	}
}

/* GAME INFO PAGE CSS*/

.GameInfoContainer {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 10vw 1vw 0;
  border-radius: 30px;
}

.GameInfoDetails {
  color: white;
}

.GameInfoTitle {
  display: flex;
  color: white;
  font-family: "League Spartan", sans-serif;
  text-transform: uppercase;
  font-size: 60px;

}

.GameInfoDetails h3 {
  color: white;
  font-family: "League Spartan", sans-serif;
  font-size: 1.8em;
}

.GameInfoDetails p {
  color: white;
  font-family: "Open Sans", sans-serif;
}

.GameInfoDetails img {
  display: flex;
  border-radius: 30px;
  width: 460px;
  height: auto;
}

.GameInfoButtons {
  display: flex;
  justify-content: flex-end;
}

.GameInfoButtons Button {
  color: white;
  font-size: 1.4em;
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
  border: none;
  margin-left: 15px;
}

.ImageDescription {
  display: flex;
  flex-wrap: wrap;
  width: 460px;
}

.GameMedia {
  display: flex;
}

.GameVideo,
.GameImages {
  display: flex;
  flex-wrap: nowrap;
  width: 460px;
  max-height: 300px;
}

.GameVideo {
  margin-left: 50px;
}
.GameImages img {
  margin: 0 10px;
}

.Description {
  padding-top: 15px;
  font-size: 1.4rem;
  text-align: justify;
  font-weight: 300;
}

.StatisticsDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.RatingPrice {
  padding-left: 10px;
  text-align: left;
}

.GenrePlatformButtons Button {
  background-color: #351a79;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7px 15px;
  margin-right: 10px;
}

.GenrePlatformButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
}

.AllGameInfo {
  display: flex;
}

.hr {
  border-right: 1px solid #351a79;
  padding: 0 5px;
}

.EditButton {
  background-color: #00bf63;
  padding: 5px 32px;
}
.InfoValue {
  font-size: 1.2em;
  margin-bottom: 15px !important;
}

.NoMargin {
  margin: 0;
}
.InfoValue.noMarginLeft {
  margin-left: 0px !important;
  display: flex;
  flex-wrap: wrap;
}

.DeleteButton {
  background-color: #ff3131;
  padding: 5px 20px;
}

.GameInfoButtons Button:hover {
  cursor: pointer;
}

.PlatformButton {
  margin-bottom: 6px;
}

/* EDIT GAME PAGE CSS */





/* ADD GAMES PAGE CSS */

.PageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.TitleAdd {
  font-family: "League Spartan", sans-serif;
  color: white;
  font-size: 4rem;
  margin-right: 40px;
}

.InputsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 5vw;
  height: 100vh;
}

.AddGameDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.AddGameDiv p {
  font-family: "League Spartan", sans-serif;
  color: white;
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.AddGameDiv h1 {
  font-family: "League Spartan", sans-serif;
  color: white;
  font-size: 4rem;
  margin-bottom: 20px;
}

.AddGameDiv input,
textarea {
  display: flex;
  border: none;
  height: 4vh;
  width: 195px;
  border-radius: 5px;
}

.DropdownInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.TitleLabel,
.DescriptionLabel,
.RatingLabel,
.PriceLabel,
.GenreLabel,
.PlatformLabel,
.ImageLabel {
  margin-bottom: 5px;
}

.AddGameButton {
  background-color: #00bf63;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 20px;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.GameAddContainer {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  margin: 1vw;
  border-radius: 30px;
  color: white;
}

.InfoDiv {
  display: flex;
  flex-direction: row-reverse;
}

.ImageAdd {
  background-color: #351a79;
  width: 460px;
  height: 216px;
  border-radius: 30px;
}

.GameAddContainer h1 {
  color: white;
  font-family: "League Spartan", sans-serif;
  text-transform: uppercase;
  font-size: 60px;
}

.ImageDescriptionDiv {
  padding-top: 15px;
  font-size: 1.4rem;
  font-weight: 300;
  margin-left: 10px;
  text-align: justify;
  width: 470px;
  word-wrap: break-word;
}

.StatisticsAdd {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.PlatformGenreAdd Button {
  background-color: #351a79;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  color: white;
}

.ButtonsAdd {
  display: flex;
  justify-content: flex-end;
}

.PlatformGenreAdd {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.RatingPriceAdd {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.PriceH3 {
  margin-top: 0;
}

.GenresH3,
.PlatformsH3 {
  margin-top: 15px;
}


/* FOOTER */

Footer {
  text-align: right;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 15px;
  margin-bottom: 3px;
}
